.pagar-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  min-height: 95vh;
  margin: auto;
}

.pagar-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
  width: 50%;
  max-width: 300px;
}

.pagar-button:hover {
  background-color: #0056b3;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.pagar-acciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  min-height: 71vh;
}

.pagar-pagar-boton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.pagar-pagar-boton:hover {
  background-color: #218838;
}

.pagar-total {
  font-size: 1.5em;
  font-weight: bold;
}

.pagar-agregar-monto {
  margin-bottom: 10px;
}

.pagar-monto-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.pagar-monto {
  width: 100%;
  background-color: #28a745;
}

.btn-pagar-flotantes-conteiner {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
