.pagar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  max-width: 600px;
}

.usuario-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.usuario-button:hover {
  background-color: #0056b3;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.usuario-acciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.usuario-pagar-boton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.usuario-pagar-boton:hover {
  background-color: #218838;
}

.usuario-total {
  font-size: 1.5em;
  font-weight: bold;
}

.usuario-agregar-monto {
  margin-bottom: 10px;
}

.usuario-monto-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}
