* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 90px;
}

.card .header{
  margin-top: 20px;
}

.card ul{
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.card ul li{
  border: 1px solid red;
  margin-bottom: 10px;
  width: 50vw;
  height: 30px;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}