* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

:before, :after {
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 90px;
}

.card .header{
  position: relative;
  width: 390px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-left: 12px;
}

.header input {
  box-sizing: border-box;
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 320px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}

.header input:focus{
  outline: none;
}

.header input:focus ~ label{
  top: -14px;
  font-size: 12px;
  color: #2196F3;
}

.header input:focus ~ .bar:before{
  width: 320px;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
}

.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2196F3;
  transition: 300ms ease all;
  left: 0%;
}

.header label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  right: 60px;
  top: 10px;
  transition: 300ms ease all;
  text-align-last: end;
}

.header button{
  border-radius: 20px;
  height: 40px;
}

.card ul{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 35px;
}

.card ul li{
  box-sizing: border-box;
  border: 1px solid var(--md-sys-color-surface-variant);
  border-bottom: none;
  width: 65vw;
  padding: 10px;
  height: 56px;
  font-size: var(--md-sys-font-t-m-20);
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}

.card ul li{
  box-sizing: border-box;
  border: 1px solid var(--md-sys-color-surface-variant);
  border-bottom: none;
  width: 65vw;
  padding: 10px;
  height: 56px;
  font-size: var(--md-sys-font-t-m-20);
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}

.card ul li.usuario-monto-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card ul li:first-child{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card ul li:last-child{
  border-bottom: 1px solid var(--md-sys-color-surface-variant);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-col-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-s{
  display: inline-block;
  font-size: var(--md-sys-font-t-m-16);
  letter-spacing: 0.7px;
  margin-left: 8px;
  margin-bottom: 5px;
  color: var(--md-sys-color-outline);
}

.titulo{
  width: 100%;
  font-size: var(--md-sys-font-d-s-36);
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 10px;
}


/* margin */
.ma-l-10{
  margin-left: 10px;
}

/* position */
.pr{
  position: relative;
}

.pa{
  position: absolute;
}

.bton-flotante{
  position: fixed;
  right: 16px;
  bottom: 200px;
  z-index: 10000;
}

.bton-flotante .fab {
  height: 96px;
  width: 96px;
  border: none;
  border-radius: 20px;
  padding-left: 24px;
  padding-right: 24px;
  letter-spacing: 1.2px;
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  box-shadow: -3px 10px 20px var(--md-sys-color-shadow);
  font-size: var(--md-sys-font-t-m-16);
  transition: width 0.3s ease;
}

.bton-flotante .monto, .bton-flotante .enviar, .bton-flotante .cancelar {
  height: 96px;
  width: 96px;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 1.2px;
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  box-shadow: -3px 10px 20px var(--md-sys-color-shadow);
  font-size: var(--md-sys-font-t-m-14);
  transition: width 0.3s ease;
}

.bton-flotante.expanded.fixedTop{
  bottom: 400px;
}

.bton-flotante.apilar1{
  bottom: 320px;
}

.bton-flotante.apilar2{
  bottom: 440px;
}

.bton-flotante.apilar3{
  bottom: 600px;
}



.bton-flotante.expanded.fixedfulltop{
  top : 5px;
  background-color: var(--md-sys-color-tertiary-container);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.bton-flotante.expanded{
  background-color: var(--md-sys-color-secondary-container);
  width: 370px;
  height: 140px;
  border-radius: 16px;
}


.cancel-button{
  background-color: var(--md-sys-color-error-container);
  color: var(--md-sys-color-on-error-container);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  margin-top: 10px;
}

.crear-usuario{
  background-color: var(--md-sys-color-error-container);
  color: var(--md-sys-color-on-error-container);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 20px;
  height: 40px;
  margin-top: 10px;
  margin-right: 20px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-jc-e{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.editar{
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
}

.icono-eliminar{
  color: var(--md-sys-color-tertiary-fixed);
}

.no-editar{
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}

.fs-70{
  font-size: 70px;
}

.fs-30{
  font-size: 30px;
}

.text-center{
  text-align: center;
}

.fullbg{
  background-color: var(--md-sys-color-tertiary-fixed);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.pagar{
  margin-left: 20px;
}

.pagar-input{
  box-sizing: border-box;
  width: 300px;
  height: 90px;
  padding-left: 30px;
  font-size: 24px;
}

.text-monto-70{
  font-size: 70px;
  color: var( --md-sys-color-on-tertiary-fixed);
}

.tramite{
  border: none;
  background-color: var(--md-sys-color-on-tertiary-fixed-variant);
  color: var(--md-sys-color-tertiary-fixed-dim);
  width: 200px;
  height: 80px;
  border-radius: 16px;
}

.tramite.small{
  width: 150px;
  margin-right: 20px;
}